<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app_user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @app_user.email %>
</p>


<%= link_to 'Edit', edit_app_user_path(@app_user) %> |
<%= link_to 'Back', app_users_path %>
